{% extends 'accounts/base.html' %}

{% block content %}

<h2>Attendance List</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">S/N</th>
      <th scope="col">Name</th>
      <th scope="col">Time-in</th>
      <th scope="col">Time-out</th>
    </tr>
  </thead>
  <tbody>
  {% for attendance in attendances %}
    <tr>
    <th scope="row">{{ forloop.counter }}</th>
      <td>{{attendance.user.first_name}} {{attendance.user.last_name}}</td>
      <td>{{attendance.sign_in_time}}</td>
      {% if attendance.sign_out_time == None %}
      <td>{{ '  ' }}</td>
      {% else %}
      <td>{{attendance.sign_out_time }}</td>
      {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
